body{
  background-image:url(../img/aurora.png);
    font-family: 'Tangerine', serif;
    font-size: 48px; color: rgb(37, 37, 41);
    text-align: center;
    font-size: 40px;
    }
    .cronometro {
      border-radius: 10px;
      border: 1px solid #1e1e1f;
      min-height: 30px;
      margin: 0 auto;
      width: 100px;
    }

  .container {
      padding: 10px 10px 0;
    }
    .input {
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px 20px;
      margin: 10px 0;
      width: 70%;
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }

    input {
      font-family:'Tangerine', serif;
      font-size: 25px
    }
    
    
    .presentacion {
      border-radius: 15px;
      border: 1px solid rgb(7, 7, 7);
      box-shadow:  0 8px 10px rgba(15, 15, 15, 0.6);
      margin:40px auto;
      height: 450px;
      width: 50%;
      position: absolute;
      top: 8%;
      left: 10%;
    }
    .botones {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    
   
.boton {
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 800;
  display: block;
  padding: 5px 10px;
  margin: 10px auto;
  width: 40%
}

.botonVolver {
  background-color: #0277bd;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 800;
  display: block;
  padding: 5px 10px;
  margin: 10px auto;
  width: 40%
}

.boton:hover,
.botonTrivias:hover
.botonSiguiente:hover {
  background-color: #f6f7f8;
  color: white;
  border: 1px solid white
}
.botonTrivias {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px auto;
  width: 80%;
  font-family: 'Playfair Display', serif;
  font-size: 15px; color: rgb(10, 10, 10);
}


.botonSiguiente {
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px 10px;
  width: 30%;
  margin-left: 0%;
  font-weight: bold;
  font-family: 'Tangerine', serif;
  font-size: 30px; color: rgb(10, 10, 10);
}
.marca {
  border-radius: 15px 15px 0 0;
  background-color: rgb(102, 175, 165);
  color: white;
}